{{ define "body"}}
<div class="h5 bg-primary text-white text-center m-2 p-2">RSVP</div>
{{ if gt (len .Errors) 0}}

<ul class="text-danger mt-3">
    {{ range .Errors }}

    <li>{{ .  }}</li>
    {{ end }}

</ul>
{{ end }}
<form class="m-2" method="POST">

    <div class="form-group my-1">
        <label>Your name:</label>
        <input class="form-control" name="name" value="{{.Name}}" />

    </div>

    <div class="form-group my-1">
        <label>Your email:</label>
        <input class="form-control" name="email" value="{{.Email}}" />

    </div>

    <div class="form-group my-1">
        <label>Your phone number:</label>
        <input class="form-control" name="phone" value="{{.Phone}}" />

    </div>

    <div class="form-group my-1">
        <label>Will you attend?</label>
        <select class="form-select" name="willattend">
            <option .WillAttend}}selected{{end}} value="true" {{if>
                Yes, I'll be there
            </option>
            <option .WillAttend}}selected{{end}} not value="false" {{if>
                No, I can't come
            </option>
        </select>

    </div>
    <button class="btn btn-primary mt-3" type="submit">
        Submit RSVP
    </button>
</form>
{{ end }}
