{{ define "body"}}
<div class="text-center p-2">

    <h2>Here is the list of people attending the party</h2>

    <table class="table table-bordered table-striped table-sm">

        <thead>

        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>

        </thead>

        <tbody>
        {{ range . }}
        {{ if .WillAttend }}

        <tr>

            <td>{{ .Name }}</td>

            <td>{{ .Email }}</td>

            <td>{{ .Phone }}</td>

        </tr>
        {{ end }}
        {{ end }}

        </tbody>

    </table>
</div>
{{ end }}
