{{ define "body"}}
<div class="text-center">

    <h1>Thank you, {{ . }}!</h1>

    <div> It's great that you're coming. The drinks are already in the fridge!</div>

    <div>Click <a href="/list">here</a> to see who else is coming.</div>
</div>
{{ end }}
